@model WebApp.Models.Data.Carrera
@using WebApp.Models.Data;
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idEscuela)
        </dt>
        <dd class="col-sm-10">
            @((EnumEscuelas)Model.idEscuela)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Estado != (Estados)(-1))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
