@model WebApp.Models.Data.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primer_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primer_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contrasena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.segundo_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.segundo_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primer_apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primer_apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.segundo_apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_identificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.campus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.campus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="codigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
