@model WebApp.Models.Data.Facultad

@{
    ViewData["Title"] = "Estado";
}

<h1>Estado</h1>

<h3>
    @if (Model.Estado == Estado.Activo)
    {
        <span> Estas seguro de Inactivar el usuario ? </span>
    }
    else
    {
        <span> Estas seguro de Activar el usuario ? </span>

    }
</h3>
<div>
    <h4>Facultad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFacultad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFacultad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDecano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDecano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="ConfirmarEstado">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cambiar" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
